<div class="page-menu"> 
  
<!-- In your theme's header or wherever you want to display the menu -->




<nav>
  <ul>
    {%- for link in section.settings.menu.links -%}

{{ link.handle  }} == {{ page.handle   }}


      <li {% if link.handle == page.handle %} class="active" {% endif %}>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>




</div>