.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.field {
  margin: 20px 0;
}

.field.no-shadow {
  display: flex;
  align-items: center;
}

.field.no-shadow input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.field.no-shadow:after {
  display: none;
}

article.contact-extra-info__box-title {
  max-width: 220px;
  width: 100%;
}
